<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/paris.jpg);">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">
                        <br> <br><br><br><br><br><br><br>
                        <div class ="col-md-8">
                            <div class="resized-splitflap">Want to go to Paris </div>
                            <h3><br>Here is our offer for you, See The world as you never saw before</h3>
                            <h1>Test</h1>
                        </div>
                        <div class="col-md-4">



                            <div class="row p-b fh5co-blog-style-1"  data-stellar-background-ratio="0.5" data-next="yes"
                                 style="background-color: transparent">

                                <div class="fh5co-post wow fadeInLeft"  data-wow-duration=".5s" data-wow-delay=".5s">
                                    <div class="fh5co-post-text">
                                        <!--TO Place the form group here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!--comment-->




<div class="fh5co-blog-style-1" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/l1.jpg);">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Our Offers Just for you</h2>
                <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">check our pecial offers and start exploring the World</p>
            </div>
        </div>
        <div class="row p-b">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft"  data-wow-duration=".5s" data-wow-delay=".5s">

                    <div class="fh5co-post-text">
                        <h3><a href="#">Offer #1</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft"  data-wow-duration=".5s" data-wow-delay=".5s">

                    <div class="fh5co-post-text">
                        <h3><a href="#">Offer #2</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft"  data-wow-duration=".5s" data-wow-delay=".5s">

                    <div class="fh5co-post-text">
                        <h3><a href="#">Offer #3</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>

    </div>
</div>
<div class="fh5co-content-style-6" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/full_2.jpg);">
    <div class="container">
        <div class="row p-b text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Our news</h2>
                <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_1.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>News #1</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>News #2</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_3.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>News #3</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_4.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>News #4</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </a>
            </div>
        </div>
    </div>
</div>
