<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/img_same_dimension_1.jpg);">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">
                      <br> <br><br><br><br><br><br><br>
                      <ul>
                        <li ng-repeat = "dumm in dummy">
                          {{ 'AirpotName: ' + dumm.name + ', iso ' + dumm.iso}}
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
